.headerLbl {
  float: left;
  padding-top: 6px;
  margin-bottom: 0px;
  padding-left: 10px;
}

.addButton{

  float: left;
}

.importButton{
  background-color: #0d6efd !important;
}

.importButton:hover{
  background-color: #0b5ed7 !important;
}

.spinner-books{
  text-align: center;
  margin-top: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.registration-form {
  max-width: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.registration-form .form-group {
  margin-bottom: 20px;
}

.registration-form label {
  font-weight: bold;
}

.registration-form button {
  width: 100%;
}


